<div class="p-inputgroup">
  <p-autoComplete #searchBar [(ngModel)]="chips" [suggestions]="suggestions" [group]="true"
    (completeMethod)="search($event)" [multiple]="true" (onUnselect)="removeCondition($event)"
    (onSelect)="suggestionSelected($event)"
                  placeholder="[type your search criteria here]"
                  i18n-placeholder="placeholder for users search request"
                  styleClass="w-full" class="searchbar">
    <ng-template let-group pTemplate="group">
      <span [innerHtml]="group.label | searchHighlight: currentSearchTerm"></span>: <span
        [innerHtml]="group.value | searchHighlight: currentSearchTerm"></span>
    </ng-template>
    <ng-template let-suggestion pTemplate="item">
      <div *ngIf="isOperation(suggestion)" class="suggestion-item">
        <span [innerHtml]="suggestion | chipTransform | searchHighlight: currentSearchTerm"></span><span
          [innerHtml]="suggestion.de | searchHighlight:currentSearchTerm"></span>
      </div>
      <div *ngIf="isCondition(suggestion)" class="suggestion-item">
        <span [innerHtml]="suggestion.value | searchHighlight: currentSearchTerm"></span><span
          [innerHtml]="suggestion.de | searchHighlight:currentSearchTerm"></span>
      </div>
    </ng-template>
    <ng-template let-value pTemplate="selectedItem">
      <span>{{executeChipTransform(value)}}</span>
      <i class="pi pi-info-circle ml-2" (click)="chipInfo.toggle($event)"></i>
      <p-overlayPanel #chipInfo>
        <span>{{value.toString()}}</span>
      </p-overlayPanel>
    </ng-template>
  </p-autoComplete>
  <button pButton pRipple #infoButton icon="pi pi-info-circle" class="p-button-help"
    (click)="queryInfo.toggle($event)"
    [style.color]="colors.getPrimaryButtonColors().buttonInfo[0]"
    [style.background]="colors.getPrimaryButtonColors().buttonInfo[1]"
    [style.borderColor]="colors.getPrimaryButtonColors().buttonInfo[0]">
    <p-overlayPanel #queryInfo>
      <span *ngIf="queryService.isEmpty()"
        i18n="hint the user that clicking this button will show the detailed query">
        Click here to view your detailed query.
      </span>
      <span *ngIf="!queryService.isEmpty()">{{queryHelpString}}</span>
    </p-overlayPanel>
  </button>
  <button pButton pRipple #searchButton icon="pi pi-search" class="p-button-success"
      [disabled]="hasInputText()"
      (click)="onSearchClick()"
      [style.color]="colors.getPrimaryButtonColors().buttonSuccess[0]"
      [style.background]="colors.getPrimaryButtonColors().buttonSuccess[1]"
      [style.borderColor]="colors.getPrimaryButtonColors().buttonSuccess[1]" label="Search"
      i18n-label="text for the search button"></button>

  <button pButton pRipple #clearButton icon="pi pi-times" class="p-button-danger"
      (click)="onClearClick()"
      [style.color]="colors.getPrimaryButtonColors().buttonWarning[0]"
      [style.background]="colors.getPrimaryButtonColors().buttonWarning[1]"
      [style.borderColor]="colors.getPrimaryButtonColors().buttonWarning[1]" label="Clear"
      i18n-label="text for the clear button"></button>
</div>
